<link rel="stylesheet" href="~/css/profile.css"/>
<h2>@ViewBag.name 's profile</h2>
<img src="http://www.trbimg.com/img-5a3d3316/turbine/ct-edit-amazon-chicago-rank-edit-20171206" Height=10% width=10% class="img-rounded" alt="Cinque Terre">
<div id="profile">
</div>
<div id=#list>
        <div class="panel panel-default">
        <div class="panel-heading">Shopping</div>
        <div class="panel-body"><a href="/schedule">More...</a></div>
        </div>
</div>
<div id=#body>
        <div class="panel panel-default">
        <div class="panel-heading">Your Favorites</div>
        <div class="panel-body">
                @{
                    foreach(var favorite in @ViewBag.favorites){
                            <li><a href=/recipe/@favorite.Recipe.id>@favorite.Recipe.Name</a></li>
                    }
                }
        <a href="favorites">More...</a></div>
        </div>

        <div class="panel panel-default">
        <div class="panel-heading">Your Chef's Network</div>
        <div class="panel-body"><a href="/connect">More...</a></div>
        </div>

        <div class="panel panel-default">
        <div class="panel-heading">Your Recipes</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Added</th>
                    <th>Favorited</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                        @{
                            foreach(var recipe in @ViewBag.recipes)
                            {
                                <tr>
                                    <td><a href="recipe/@recipe.id">@recipe.Name</a></td>
                                    <td>@recipe.Start.ToString("MM/dd/yyyy")</td>
                                    <td>@recipe.Favorites</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        Delete
                                        </button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                This will permanently delete your recipe 
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <a href="rdelete/@recipe.id">Confirm</a>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    
                                    </td>
                                </tr>                        
                            }
                        } 
                </tbody>
            </table>
        </div>
        </div>
</div>